@tailwind base;

/* Text Style: .ts */
/* box - align - size - font*/
.ts-base {
  @apply block text-left text-xs font-poppins font-normal leading-1.4 text-color-text not-italic mb-2.5;
}
.ts-title {
  @apply text-lg font-semibold text-color-title mb-8;
}
.ts-subtitle {
  @apply text-sm font-medium text-color-title mb-6;
}
.ts-label {
  @apply font-medium text-color-label mb-3;
}
.ts-link {
  @apply font-medium text-primary;
}
.ts-link:hover {
  @apply text-primary-dark;
}


@tailwind components;

/* BUTTON (.btn) */
/* background - box - margin x y - padding x y - font - transition */
.btn {
  @apply rounded-xl leading-1.4 flex items-center justify-center gap-2 not-italic transition;
}
.btn-primary {
  @apply bg-primary text-color-title;
  flex: 4 1 70px;
}
.btn-primary:hover {
  @apply bg-primary-dark text-color-title;
}
.btn-secondary {
  @apply bg-background-dark text-primary border-1.5 border-primary;
  flex: 2 1 70px;
}
.btn-secondary:hover {
  @apply bg-background text-primary-dark border-primary-dark;
}
.btn-quiet {
  @apply bg-primary-off text-primary border-none;
  flex: 1 1 70px;
  box-shadow: none;
}
.btn-quiet:hover {
  box-shadow: 0 0 10px rgba(205, 0, 121, 0.2);
}
.btn-size-s {
  @apply py-2 px-6 font-medium text-xs; /* mobile 8 - desktop 16 */
}
.btn-size-m {
  @apply w-full py-2.5 font-medium text-sm; /* mobile 10 - desktop 18 */
}
.btn-size-l {
  @apply w-full py-3 font-medium text-base; /* mobile 12 - desktop 18 */
}
.btn-group {
  @apply w-full flex gap-4 items-center;
}
.btn-icon {
  @apply flex gap-2 items-center w-fit cursor-pointer font-normal;
}
.btn-icon-delete {
  @apply text-negative;
}
.btn-icon-delete-round {
  @apply flex items-center justify-center bg-foreground w-[34px] h-[34px] text-negative rounded-full;
}
.btn-icon-close {
  @apply text-primary;
}
.btn-icon-play {
  @apply flex items-center justify-center bg-black-50 w-[53px] h-[53px] rounded-full text-white;
}
.btn-icon-s {
  @apply text-xs;
}
.btn-icon-s > svg {
  @apply text-base;
}
.btn-icon-m {
  @apply text-base;
}
.btn-icon-m > svg {
  @apply text-[19px];
}
.btn-icon-l {
  @apply text-2xl;
}
.btn-filter {
  @apply bg-foreground border border-color-border text-color-title p-2 rounded-xl text-3xl relative;
}
.btn-filter-menu {
  @apply bg-foreground flex flex-col gap-2 min-w-fit py-2 rounded-md text-xs top-14 border border-color-border right-0 cursor-default text-color-title;
}
.btn-filter-menu li {
  @apply text-xs min-w-max px-2 py-1 cursor-pointer block;
}
.btn-filter-menu li:hover {
  @apply bg-color-border;
}

.is-hidden {
  display: none;
}
.is-active {
  @apply bg-color-border text-color-text;
}

/* INPUT */
.input {
  @apply bg-background-dark block w-full border border-background-dark rounded-xl text-color-text mb-5 px-5 py-4 text-sm font-normal;
}
.input:focus {
  @apply bg-foreground border-color-border text-color-title caret-primary outline-none;
}

/* CARD */
.card-container {
  @apply bg-foreground max-w-full rounded-2xl flex flex-col;
}

@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #01003C;
  }
}