@tailwind base;

/* Text Style: .ts */
/* box - align - size - font*/
.ts-base {
  @apply block text-left text-xs font-poppins font-normal leading-1.4 text-color-text not-italic mb-2.5;
}
.ts-title {
  @apply text-lg font-semibold text-color-title mb-8;
}
.ts-subtitle {
  @apply text-sm font-medium text-color-title mb-6;
}
.ts-label {
  @apply font-medium text-color-label mb-3;
}

.ts-link {
  @apply font-medium text-primary hover:text-primary-dark;
}

@tailwind components;

/* Bottons: .btn */
/* background - box - margin x y - padding x y - font - transition */
.btn {
  @apply block w-full rounded-xl mb-8 py-3 font-medium text-base leading-1.4 text-center text-color-title not-italic transition;
}
.btn-primary {
  @apply bg-primary;
}
.btn-primary:hover {
  @apply bg-primary-dark;
}
.btn-secondary {
  @apply bg-background-dark border-1.5 border-primary text-primary;
}
.btn-secondary:hover {
  @apply bg-background text-primary-dark border-primary-dark;
}
.input {
  @apply bg-background-dark block w-full border border-background-dark rounded-xl text-color-text mb-5 px-5 py-4 text-sm font-normal;
}
.input:focus {
  @apply bg-foreground border-color-border text-color-title caret-primary outline-none;
}
.card-container {
  @apply bg-foreground max-w-full rounded-2xl flex flex-col;
}

.mobile-header-container {
  @apply w-full bg-foreground h-16 flex justify-between items-center pl-4 pr-5;
}
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #01003c;
  }
}
